<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfig" packages="org.apache.logging.log4j.test">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Appender>
        <RollingFile name="File" filePattern="moa/LOGS/aqr_%d{yyyyMMddHHmmssSSS}_%i.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="64 MB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="AdaptiveQuickReductConfig" level="info" additivity="false"/>
        <Logger name="AdaptiveQuickReduct" level="debug" additivity="false"/>
        <Logger name="AdaptiveQuickReductTest" level="debug" additivity="false"/>
        <Root level="debug">
            <AppenderRef ref="File" level="debug"/>
            <AppenderRef ref="STDOUT" level="info"/>
        </Root>
    </Loggers>
</Configuration>